[package]
name = "smooth-operator"
version = "0.1.1"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0.81"
quote = "1.0.36"
syn = { version = "2.0.60", features = ["visit-mut", "full"] }
